body { background-color: #424242;
        color: #3D98F3;
        font-family: "SamsungOne",arial;
        text-align: center;        
        line-height: 1.32;}

.bildblock { text-align: center;
     margin-top: 2em;
    margin-bottom: 2em;
}  }       
