body
         {background-color:
                         #424242;
         border:
                         100%;
         color:
                         #3D98F3;}
#balken
         {background-color:
                         #08088A;
         width:
                         1350px;
         height:
                         100px;
         position:absolute;
         left:
                         0px;
         top:
                         227px;
         color:
                         #FDFEFE;}
h1
         {font-size:
                         80px;}
#div
         {background-color:
                         #EBE5D9;
         width:
                         200px;

         height:
                         445px;
         position:absolute;
         left:
                         0px;
         top:
                         326px;
         color:
                         #040E11;}
#anschrift
         {background-color:
                         #424242;
         width:
                         1350px;
         height:
                         30%;
         position:absolute;
         left:
                         0px;
         top:
                         440px;
         color:
                         #3D98F3;}
#Sonderangebote
         {background-color:
                         #CC8A56;
         width:
                         1213px;
         height:
                         400px;
         position:absolute;
         top:
                         0px;
         right:
                         0px;
         bottom:
                         1000px;
         left:
                         130px;
         color:
                         #040E11;}
#Bilder
         {background-color:
                         #EBE5D9;
         width:
                         1340px;
         height:
                         400px;
         position;relative;
         top:
                         0px;
         right:
                         0px;
         left:
                         0px;}