#back
         {background-color:
                         #EBE5D9;
         border:
                         100%;}
#balken
         {background-color:
                         #0359AE;
         width:
                         1500px;
         height:
                         100px;
         position:absolute;
         left:
                         0px;
         top:
                         227px;}
#div
         {background-color:
                          #EBE5D9;
         width:
                         10%;

         height:
                         70%;
         position:absolute;
         left:
                         0px;
         top:
                         326px;}
#anschrift
         {background-color:
                         #424242;
         width:
                         1500px;
         height:
                         30%;
         position:absolute;
         left:
                         0px;
         top:
                         770px;
         color:
                         #3D98F3;}
#Sonderangebote
         {background-color:
                         #CC8A56;
         width:
                         1500px;
         height:
                         400px;
         position:absolute;
         top:
                         0px;
         right:
                         0px;
         bottom:
                         1000px;
         left:
                         130px;}
#Bilder
         {background-color:
                         #EBE5D9;
         width:
                         2000px;
         height:
                         400px;
         position;relative;
         top:
                         0px;
         right:
                         0px;
         bottom:
                         7000px;
         left:
                         0px;}