back
         {background-color:
                         #EBE5D9;
         border:
                         100%;}
#balken
         {background-color:
                         #0359AE;
         width:
                         100%;
         height:
                         100px;
         position:absolute;
         left:
                         0px;
         top:
                         227px;}


{.zahl{
    text-align: right;
}